Repository betty-alagwu/docflamingo: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix --, npm run prettier:fix --

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npm run lint:fix -- ", "npm run prettier:fix -- "],
  "**/*.{json,md,css,html}": ["npm run prettier:fix -- "]
}

fix: husky integration for pre-commit hooks
  .husky/pre-commit
  app/github/webhooks/route.ts
Due: npm run lint:fix --, npm run prettier:fix --

Test commit to check pre-commit hook
  test-file.txt
Due: none

Remove test file
  test-file.txt
Due: none

Update workflow: add placeholder deployments
  .github/scripts/setup-license-checker.sh
  .github/workflows/quality-checks.yml
  package.json
Due: npm run prettier:fix --

Update workflow: add placeholder deployments
  .github/workflows/quality-checks.yml
  .gitignore
  __tests__/README.md
Due: npm run prettier:fix --

fix: github workflow
  .github/workflows/quality-checks.yml
Due: none

fix: github workflow
  .github/workflows/quality-checks.yml
  tsconfig.ci.json
  types/images.d.ts
Due: npm run lint:fix --, npm run prettier:fix --

fix: workflow cleanup
  .github/workflows/quality-checks.yml
  next.config.ci.js
  next.config.js
  package-lock.json
  package.json
  tsconfig.ci.json
Due: npm run lint:fix --, npm run prettier:fix --

fix: workflow cleanup
  .github/actions/install-dependencies/action.yml
  .github/actions/run-command/action.yml
  .github/actions/setup-docker/action.yml
  .github/actions/setup-node-npm/action.yml
  .github/workflows/build.yml
  .github/workflows/format-check.yml
  .github/workflows/lint.yml
  .github/workflows/quality-checks.yml
  .github/workflows/server-test.yml
  .github/workflows/type-check.yml
  app/config/env.ts
  next.config.ci.js
Due: npm run lint:fix --, npm run prettier:fix --

fix: workflow cleanup
  .github/workflows/server-test.yml
Due: none

cleanup
  app/config/env.ts
  app/database/prisma.ts
  next.config.ci.js
Due: npm run lint:fix --, npm run prettier:fix --

cleanup
  jest.config.js
Due: npm run lint:fix --, npm run prettier:fix --

cleaup'
  jest.config.js
  jest.setup.ts
  tsconfig.json
Due: npm run lint:fix --, npm run prettier:fix --

cleaup'
  next.config.ci.js
Due: npm run lint:fix --, npm run prettier:fix --

fix: build
  .github/workflows/build.yml
  app/config/env.ts
  app/services/ai.service.ts
  app/services/git-providers/github-comment.service.ts
  app/services/git-providers/github.service.ts
  app/utils/get-pull-request-details.ts
Due: npm run lint:fix --, npm run prettier:fix --

fix: build ci
  app/config/env.ts
Due: npm run lint:fix --, npm run prettier:fix --

chore: add landing page
  app/components/footer.tsx
  app/components/testimonial-carousel.tsx
  app/components/trusted-companies.tsx
  app/components/ui/button.tsx
  app/data/companies.ts
  app/data/testimonials.ts
  app/page.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: npm run lint:fix --, npm run prettier:fix --

chore: add landing page
  .eslintrc.json
  app/components/testimonial-carousel.tsx
  app/components/trusted-companies.tsx
  app/components/ui/button.tsx
  app/data/companies.ts
  app/data/testimonials.ts
  app/page.tsx
  next.config.js
  package-lock.json
  package.json
Due: npm run lint:fix --, npm run prettier:fix --

fix: build
  .eslintrc.json
  app/components/testimonial-carousel.tsx
  app/components/trusted-companies.tsx
  app/components/ui/button.tsx
  app/data/companies.ts
  app/data/testimonials.ts
  app/page.tsx
  app/services/ai.service.ts
  app/utils/comment-utils.ts
  next.config.js
Due: npm run lint:fix --, npm run prettier:fix --

fix: gihub eorkflows
  .github/workflows/build.yml
  __tests__/services/git-providers/process-closed-pull-request.service.test.ts
  app/services/ai.service.ts
  tsconfig.json
Due: npm run lint:fix --, npm run prettier:fix --

fix: gihub eorkflows
  .github/workflows/build.yml
  .github/workflows/format-check.yml
  .github/workflows/lint.yml
  .github/workflows/server-test.yml
  .github/workflows/type-check.yml
Due: none

fix: gihub eorkflows
  .github/workflows/build.yml
Due: none

fix: gihub eorkflows
  .github/workflows/build.yml
  app/config/env.ts
  next.config.ci.js
Due: npm run lint:fix --, npm run prettier:fix --

fix: build
  package-lock.json
Due: npm run prettier:fix --

fix : build
  .github/workflows/build.yml
  package.json
Due: npm run prettier:fix --

fix :lint
  .github/workflows/build.yml
  package.json
Due: npm run prettier:fix --

chore: implement sign in
  app/components/ui/button.tsx
  app/dashboard/page.tsx
  app/layout.tsx
  app/page.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  app/sign-up/[[...sign-up]]/page.tsx
  middleware.ts
Due: npm run lint:fix --, npm run prettier:fix --

chore: add page routing navigation
  app/analytics/page.tsx
  app/components/dashboard-layout.tsx
  app/components/dashboard-navbar.tsx
  app/components/dashboard-sidebar.tsx
  app/docs/page.tsx
  app/organization/page.tsx
  app/overview/page.tsx
  app/repositories/page.tsx
  app/support/page.tsx
  package-lock.json
  package.json
Due: npm run lint:fix --, npm run prettier:fix --

cleanup
  app/analytics/page.tsx
  app/dashboard/page.tsx
  app/repositories/page.tsx
Due: npm run lint:fix --, npm run prettier:fix --

chore: add pagination for dashboard overview
  .env.example
  app/analytics/page.tsx
  app/components/dashboard-layout.tsx
  app/components/dashboard-navbar.tsx
  app/components/dashboard-sidebar.tsx
  app/components/pull-request-table.tsx
  app/components/stat-card.tsx
  app/components/ui/pagination.tsx
  app/components/ui/table.tsx
  app/config/env.ts
  app/dashboard/page.tsx
  app/hooks/use-pagination.ts
  app/overview/page.tsx
  app/repositories/page.tsx
  app/utils/chart-config.ts
  app/utils/status-config.ts
  middleware.ts
  package-lock.json
  package.json
Due: npm run lint:fix --, npm run prettier:fix --
